body{
    background-color: rgb(119, 114, 114);
}


.txtqsm1{
    
    text-align: center;
    font-family: "Ga Maamli", sans-serif;
    background-color: rgb(119, 114, 114);
}
.txtqsm2{
    font-family: "Abril Fatface", serif;
    font-size: x-large;
    background-color: rgb(119, 114, 114);
}